body {
	margin: 0;
	padding: 0;
	background-image: url("../img/fondo-generico.jpg");
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.form-gene {
	width: 500px;
	background: #4164b8;
	padding: 20px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: sans-serif;
	box-shadow: 7px 13px 37px #ed2468;
}

.boton-cent {
	align-content: center;
	justify-content: center;
	display: flex;
}



.form-gene h4 {
	font-size: 22px;
	margin-bottom: 20px;
	color: white;
}

.control {
	width: 100%;
	background: #4164b8;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #ffffff;
	font-family: sans-serif;
	color: white;
	font-size: 18px;
}

::placeholder {
	color: #B8B9BC;
	opacity: 1;
}

.form-gene .boton {
	
	border: none;
	outline: none;
	height: 40px;
	background: #ed2468;
	color: white;
	font-size: 18px;
	border-radius: 20px;
}

.subtitulos {
	
	font-family: sans-serif;
	color: white;
	font-size: 14px;
	
	
}



input[type="text"],

input[type="password"] {
	
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	
}

input[type="submit"] {
	
	border: none;
	outline: none;
	height: 40px;
	background: #ed2468;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	
}

input[type="reset"] {
	
	border: none;
	outline: none;
	height: 40px;
	background: #ed2468;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	
}